.song-container {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  img {
    border-radius: 50%;
  }
  .song-name {
    font-size: 3em;
    font-weight: 600;
    padding: 1em;
  }
  .song-artist {
    font-size: 2em;
  }
}
